* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  width: 100%;
  height: 55px;
  margin-top: -16px;
  background: #F55A5A;
}

.nav-header {
  padding-top: 15px;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 16px;
}

.nav-header img {
  width: 20px;
  height: 20px;
}

.nav-header span {
  color: #FFFFFF;
  padding-left: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14.46px;
  line-height: 18px;
  letter-spacing: -0.075em;
  }

  .main {
    display: flex;
    margin: 40px 0 0 40px;
  }

  .travel-photo {
    width: 125px;
    height: 168px;
    background: url();
    border-radius: 5px;
  }

  .container {
    padding: 10px;
    font-family: 'Inter';
  }

  .location-icon{
    width: 10px;
  }

  .country{
    padding-left: 5px;
    font-weight: 400;
    font-size: 10.24px;
    letter-spacing: 0.17em;
    color: #2B283A;
  }

  .location a{
    font-weight: 400;
    font-size: 10.24px;
    text-decoration-line: underline;
    color: #918E9B;
  }

  .title {
    font-weight: 700;
    font-size: 22px;
    color: #2B283A;
    margin-top: 7px;
  }

  .date {
    font-weight: 700;
    font-size: 10.24px;
    color: #2B283A;
  }

  .description {
    height: 45px;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A;
  }